@model IEnumerable<SMS.Models.teacher>

@{
    ViewBag.Title = "teacher_Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Teacher List</h2>

<p>
    @Html.ActionLink("Add New Teacher", "teacher_Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.teacher_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.teacher_Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.teacher_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.course.couse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.teacher_password)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.teacher_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.teacher_Contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.teacher_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.course.couse)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.teacher_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.teacher_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.teacher_id })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back to Main Page", "Index3")
</div>
